{% extends "base.html" %}

{% block title %}Adding Product{% endblock %}


{% block content%}
<div class="max-w-2xl mx-auto">
    <h1> Adding Product</h1>
    </form>
        <form method="post" class="mt-4">
        <!-- Add the CSRF token for security -->
        {% csrf_token %}
        <!-- Render the form fields -->
            {% for field in form %}
            <div>
            <label for="{{ field.id_for_label }}" class="">
                {{ field.label }}
            </label>
            {{ field }}
                <div class = "field-error-container">
                {% if field.errors %}
                    <p class="field-error">{{ field.errors|striptags }}</p>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="">Save</button>
    </form>
    <div class="upload.csv mt-6">

        <h2 class="text-xl font-bold mt-6 mb-2">Upload (CSV)</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv" class="border" required>

            <button type="submit" name="upload_csv" class="bg-green-200">
                Upload CSV
            </button>
        </form>
    </div>
</div>

<div class="max-w-2xl mx-auto">
    <h1> Adding category</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} <!--Django will reject POST requests without this.-->
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <button type="submit" name="add-category">Save</button>

    </form>
</div>
<div class="max-w-2xl mx-auto">
    <h1> Adding Sub Category</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} <!--Django will reject POST requests without this.-->
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <button type="submit" name="add-sub-category">Save</button>

    </form>
</div>

{% endblock %}