{% extends "base.html" %}

{% block title %}Editing Product{% endblock %}

{% block content%}
<div class="max-w-2xl mx-auto">
    <h1> Editing Product</h1>

    <form method="post">
        {% csrf_token %} <!--Django will reject POST requests without this.-->
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="mb-3">
            {{ form.sku.label_tag }}
            {{ form.sku }}
        </div>

        <div class="mb-3">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>

        <div class="mb-3">
            {{ form.stock_quantity.label_tag }}
            {{ form.stock_quantity }}
        </div>
        <div class="mb-3">
            {{ form.categories.label_tag }}
            {{ form.categories }}
        </div>
        <button type="submit" name="action" value="save" class="mb-5 border bg-green-300">Save</button>
        <button type="submit" name="action" value="delete" class="border bg-red-200"
            onclick="return confirm('Are you sure you want to delete this product?');">delete</button>
    </form>
</div>

{% endblock %}