{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %} 
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade show auto-dismiss" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- |||||||||||||||||||||||||||||||||||||||||||||| T E S T I N G     C O D E ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- |||||||||||||||||||||||||||||||||||||||||||||| T E S T I N G     C O D E ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold mb-2">Inventory</h1>
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!--                    SEARCHING LOGIC HERE -->
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <form method="get" class="mb-4">
        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
        <input type="hidden" name="show_zero_stock" value="{{ request.GET.show_zero_stock }}">
            {% if current_category_sort_list %}
                {% for category in current_category_sort_list %}
                    <input type="hidden" name="sort_by_category" value="{{ category }}">
                {% endfor %}
            {%endif%}
        <!-- hidden input field here to also pass in current sort, so page doesnt refresh and remove it -->

        <input type="text" name="search" placeholder="Search by : Name..." value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!--                    HIDE 0 STOCK LOGIC-->
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <form method="get" class="mb-4">
        <label>
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">
            {% if current_category_sort_list %}
                {% for category in current_category_sort_list %}
                    <input type="hidden" name="sort_by_category" value="{{ category }}">
                {% endfor %}
            {%endif%}
            <!-- hidden input field here to also pass in current sort, so page doesnt refresh and remove it -->

            <input type="checkbox" name="show_zero_stock" value="hide_empty_stock" 
                {% if show_zero %}checked{% endif %} onchange="this.form.submit()">
                <!-- if checked returns value {hide_empty_stock} if not checked returns "" -->
                 Hide out-of-stock items  
        </label>
    </form>
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!--                    TABLE HEADER LOGIC -->
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <table class = "table">
        <thead> 
                <!-- ||||||||||||||||||||||      NAME        ||||||||||||||||||||||||||| -->
            <th>
                <div class="dropdown">
                    <button class=" dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.GET.sort == "name" %}Name (A–Z) {% elif request.GET.sort == "-name" %}Name (Z-A) {%else%}Name{%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                            href="?sort=name{% if base_query %}&{{ base_query }}{% endif %}">
                                Name (A–Z)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="?sort=-name{% if base_query %}&{{ base_query }}{% endif %}">
                                Name (Z-A)
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
                <!-- ||||||||||||||||||||||      SKU        ||||||||||||||||||||||||||| -->
            <th>
                <div class="dropdown">
                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.GET.sort == "sku" %}Sku (L-H) {% elif request.GET.sort == "-sku" %}Sku (H-L) {%else%}Sku{%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                            href="?sort=sku{% if base_query %}&{{ base_query }}{% endif %}">
                                Low–High
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="?sort=-sku{% if base_query %}&{{ base_query }}{% endif %}">
                                High–Low
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
                <!-- ||||||||||||||||||||||      PRICE        ||||||||||||||||||||||||||| -->
            <th>
                <div class="dropdown">
                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.GET.sort == "price" %}Price (L-H) {% elif request.GET.sort == "-price" %}Price (H-L) {%else%}Price{%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                            href="?sort=price{% if base_query %}&{{ base_query }}{% endif %}">
                                Low–High
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="?sort=-price{% if base_query %}&{{ base_query }}{% endif %}">
                                High–Low
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
                <!-- ||||||||||||||||||||||      STOCK        ||||||||||||||||||||||||||| -->
            <th>
                <div class="dropdown">
                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.GET.sort == "stock_quantity" %}Stock (L-H) {% elif request.GET.sort == "-stock_quantity" %}Stock (H-L) {%else%}Stock{%endif%}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                            href="?sort=stock_quantity{% if base_query %}&{{ base_query }}{% endif %}">
                                Low–High
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="?sort=-stock_quantity{% if base_query %}&{{ base_query }}{% endif %}">
                                High–Low
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
                <!-- ||||||||||||||||||||||      TOTAL VALUE        ||||||||||||||||||||||||||| -->
            <th>Total Value</th>
                <!-- ||||||||||||||||||||||      CATEGORY        ||||||||||||||||||||||||||| -->
            <th>
                <form method="GET">
                    <!-- preserve other filters -->
                    <input type="hidden" name="search" value="{{ request.GET.search }}">
                    <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                    <input type="hidden" name="show_zero_stock" value="{{ request.GET.show_zero_stock }}">

                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Categories
                            {% if current_category_sort_list %}
                                <div class="badge bg-light text-dark ms-1">
                                    {{ current_category_sort_list|length }}
                                </div>
                            {% endif %}
                        </button>

                        <ul class="dropdown-menu p-3">

                            {% for category in categorys %}
                                <li>
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="sort_by_category"
                                            value="{{ category.name }}"
                                            {% if category.name in current_category_sort_list %}
                                                checked
                                            {% endif %}
                                        >
                                        <label class="form-check-label">
                                            {{ category.name }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}

                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <button type="submit" class="btn btn-primary w-100">
                                    Apply
                                </button>
                            </li>

                        </ul>
                    </div>
                </form>
            </th>
        </thead>
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!--                    TABLE BODY LOGIC -->
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="col"><strong><a href="{% url 'product_edit' sku=product.sku %}">{{ product.name }} </a></strong></th>

                <td>{{ product.sku }}</td>

                <td>${{ product.price }}</td>
            <!--                 stock buttons logic                 -->
                <td class="text-center">
                    {% with request.GET.urlencode as UrlParameters %} <!-- saves the current paramter, like sort and saves them as UrlParameters-->
                    
                    <form method="POST" action="{% url 'change_stock' sku=product.sku %}?{{ UrlParameters }}" class="btn-group">
                        {% csrf_token %}

                        <button type="submit" name="action" value="minus" class="btn btn-sm ">−</button>
                    </form>

                        <span id="stock-{{ product.sku }}" class="mx-2">
                        {{ product.stock_quantity }}
                        </span>

                    <form method="POST" action="{% url 'change_stock' sku=product.sku %}?{{ UrlParameters }}" class="btn-group">
                        {% csrf_token %}
                        <button type="submit" name="action" value="add" class="btn btn-sm" >+</button>
                    </form>
                    {% endwith %}

                </td>

                <td>${{ product.total_value }}</td>

                <td>
                    {% for category in product.categories.all %}
                    {{ category.name }} {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </td>
            </tr>

            {%  endfor %}
        </tbody>
    </table>

    <!-- if the filtered product list ever is empty error message apears  -->
    {% if products|length == 0 %}
    <p>No products found matching your criteria.</p>
    {% endif %}

</div>

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<!--                    JS                  -->
<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
</script>
<script>
    setTimeout(() => {
        document.querySelectorAll('.auto-dismiss').forEach(alert => {
            alert.classList.remove('show');
            alert.classList.add('fade');

            setTimeout(() => alert.remove(), 500); 
        });
    }, 100000);  // change later, however  this long for testing purposes
</script>
{% endblock %}